<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system"
                name="gz::sim::systems::JointStatePublisher">
                <topic>/joint_states</topic>
            
                <!-- add any other wheel joints here -->
        </plugin>
        <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <topic>/cmd_vel</topic>
            <odom_topic>/odom</odom_topic>
            <tf_topic>/tf</tf_topic>
            <wheel_separation>0.297</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            <odom_publish_frequency>100</odom_publish_frequency>

            <max_acceleration>10.0 10.0</max_acceleration>
            <child_frame_id>base_link</child_frame_id>
            <frame_id>odom</frame_id>
        </plugin>
        
    </gazebo>


</robot>