<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="wall">
    <visual>
      <origin xyz="5 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 10.0 2.0"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="5 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 10.0 2.0"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1.0"/>
      <inertia ixx="1.0" iyy="1.0" izz="1.0"
               ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>

  <!-- Tell Gazebo to treat it as static and color it -->
  <gazebo reference="wall">
    <static>true</static>
    <material>Gazebo/Blue</material>
  </gazebo>

</robot>
